.documents-area {
 background-color: var(--color-bg-dark);
 box-sizing: border-box;
 min-height: 100dvh;
 padding: 12.5px;
 text-align: center;
}

.doc-tile {
 background-color: var(--color-bg-medium);
 border-radius: 8px;
 border: 1px solid var(--color-border-dark);
 box-sizing: border-box;
 display: inline-block;
 height: 240px;
 margin: 12.5px;
 padding: 25px;
 text-align: left;
 width: 240px;
}
