.explorer {
 background-color: var(--color-bg-medium-dark);
 color: var(--color-text-primary);
 display: flex;
 flex-direction: column;
 height: 100%;
 width: 100%;
}

.explorer-toolbar {
 display: flex;
 align-items: center;
 padding: 10px 0;
 background-color: var(--color-bg-medium);
 border-bottom: 1px solid
  var(--color-border-dark);
 overflow-y: hidden;
 overflow-x: auto;
 white-space: nowrap;
}

.explorer-toolbar input[type='checkbox'] {
 margin-top: -2px;
 transform: scale(1.25);
 transform-origin: left center;
}

.explorer-item-count {
 flex-shrink: 0;
 margin-right: 10px;
 width: 75px;
}

.explorer-select-all {
 margin: 0 10px;
}

.explorer-toolbar button,
.explorer-toolbar select {
 margin-right: 10px;
 padding: 8px 12px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 transition: background-color 0.3s ease;
}

.explorer-toolbar button {
 background-color: var(--color-bg-secondary);
 color: var(--color-text-primary);
}

.explorer-toolbar button:hover {
 background-color: var(
  --color-bg-secondary-hover
 );
}

.explorer-toolbar button:active {
 background-color: var(--color-bg-secondary);
 box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.explorer-toolbar button:disabled {
 background-color: var(--color-bg-light);
 cursor: not-allowed;
 opacity: 0.6;
}

.explorer-view-mode {
 margin-right: 10px;
 padding: 5px;
 background-color: var(--color-bg-medium-light);
 color: var(--color-text-primary);
 border: none;
 border-radius: 4px;
}

.explorer-pagination {
 display: flex;
 align-items: center;
 margin: 0 auto;
}

.explorer-page-number {
 padding: 0 10px 0 0;
}

.explorer-spacer {
 flex-grow: 1;
}

.explorer-items {
 box-sizing: border-box;
 flex-grow: 1;
 overflow: scroll;
 user-select: none;
}

.explorer-items.list-view .explorer-item {
 align-items: center;
 border-bottom: 1px solid
  var(--color-border-dark);
 display: flex;
 justify-content: space-between;
 padding: 11px 10px 9px;
}

.explorer-items.grid-view {
 display: grid;
 grid-gap: 10px;
 grid-template-columns: repeat(
  auto-fill,
  minmax(120px, 1fr)
 );
 padding: 10px;
}

.explorer-items.grid-view .explorer-item {
 align-items: center;
 aspect-ratio: 1 / 1;
 border: 1px solid var(--color-border-dark);
 border-radius: 4px;
 cursor: pointer;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 padding: 10px;
}

.explorer-item.selected {
 background-color: var(--color-bg-highlight);
}

.explorer-item-name {
 max-width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.explorer-item button {
 background-color: var(--color-bg-medium-light);
 border-radius: 5px;
 margin: -4px 0 -1px;
 padding: 5px 8px 3px;
 transition: background-color 0.3s ease;
}

.explorer-item button:hover {
 background-color: var(--color-bg-light);
}
