.message-labels {
 border-radius: 10px;
 border: 1px solid #80808080;
 display: inline-block;
 font-size: 14px;
 font-weight: bold;
 gap: 5px;
 margin-right: 10px;
 max-width: 64em;
 min-height: 1em;
 min-width: max-content;
 overflow: auto;
 padding: 5px;
 text-align: center;
 vertical-align: -0.875em;
 white-space: nowrap;
 width: 8em;
}

.message-labels > span,
.label-group .news > article > div > p > span {
 background-color: #80808040;
 border-radius: 5px;
 padding: 5px;
 white-space: nowrap;
}

.message-menu {
 border-radius: 10px;
 box-shadow: inset 0 0 1px #80808080;
 margin: 10px;
 padding: 10px 0.15px;
}

.message-menu > h2 {
 color: #808080f0;
 font-size: 14px;
 letter-spacing: 1px;
 margin-top: 5px;
 overflow: hidden;
 text-align: center;
 text-transform: uppercase;
 white-space: nowrap;
}

.message-menu > button {
 border-radius: 10px;
 border: 1px solid;
 color: var(--color-text-secondary);
 font-size: 14px;
 letter-spacing: 1px;
 margin: 0 10px 10px;
 opacity: 0.825;
 overflow: hidden;
 padding: 10px;
 text-align: center;
 white-space: nowrap;
 width: calc(100% - 20px);
}

.label-group {
 border: 1px solid #80808080;
 background-color: #00000040;
 border-radius: 10px;
 padding: 0 0.15px 10px;
 margin: 0;
}

.label-group > h3 {
 margin: 0;
 padding: 10px;
}

.label-group .reactions-container {
 display: none !important;
}

.label-group .news > article {
 border-radius: 10px !important;
 flex-direction: row-reverse;
 min-height: initial;
 overflow: visible !important;
 padding: 0 0 1.25em;
 position: relative;
}

.label-group .news > article > div > p {
 margin: 0;
 padding: 0;
}

.label-group .news > article > div > p > span {
 font-weight: bold;
 font-size: 20px;
}

.label-group .news > a {
 display: none;
}

.label-group .news > article > div {
 align-items: end;
 display: flex;
 flex-shrink: 1;
 justify-content: start;
}

.label-group
 .news
 > article
 > div.article-tools {
 flex-direction: row-reverse;
 min-width: 240px;
 padding-top: 0;
}

.label-group
 .news
 > article
 > div.article-tools
 .score {
 font-size: 18px;
}

.label-group
 .news
 > article
 > div.article-tools
 .article-tool-buttons {
 display: flex;
 flex-direction: row;
 gap: 2px;
 margin-bottom: -5px;
}

main section.label-group > article {
 min-height: unset;
 padding: 10px 4px;
}

.diff-old {
 color: #a00000;
}

.diff-new {
 color: #00a000;
}

span.diff-arrow {
 background-color: transparent;
}

span.diff-arrow::before {
 content: '➜';
}
