.body {
 font-family: 'Noto Serif', 'Liberation Serif',
  serif;
 height: 100dvh;
 left: 0;
 overflow-x: hidden;
 overflow-y: auto;
 position: absolute;
 top: 0;
 width: 100%;
}

.toolbar,
footer,
.article-tools .score,
.message-footer,
a.channel {
 font-family: 'Avenir Next', sans-serif;
}

a {
 cursor: pointer;
 text-decoration-line: underline;
 text-decoration-style: dotted;
 text-underline-offset: 3px;
 word-wrap: break-word;
}

button,
input,
select,
textarea {
 border: none;
 color: inherit;
 font-family: inherit;
 font-size: inherit;
}

body,
html {
 margin: 0;
 padding: 0;
}

body {
 border-right: 1px solid transparent;
}

.app-header {
 display: flex;
 flex-direction: column;
 height: 160px;
 left: 0;
 overflow: visible;
 position: sticky;
 right: 0;
 top: 0;
 z-index: 1;
}

.realm {
 border-right: 1px solid #585858;
 cursor: pointer;
 font-size: 20px;
 padding: 8px 10px 0;
 user-select: none;
 white-space: pre;
}

.realm-add {
 opacity: 0.65;
}

.realm-add:hover {
 opacity: 1;
}

.realm:hover {
 background-color: #585838;
}

.realm .icon {
 vertical-align: -4px;
 margin-right: 5px;
}

.realm .icon.icon-plus {
 margin-right: 0;
}

.realm .icon:last-child {
 margin-right: 0;
}

.realm.active {
 background-color: #383828;
 box-shadow: inset 0 2px 0 #80808080;
}

.app-accounts {
 background-color: #202020;
 border-bottom: 1px solid #585858;
 box-shadow: inset 0 -13px 0px #585858;
 display: flex;
 flex-direction: row;
 height: 72px;
 overflow-x: scroll;
 overflow-y: hidden;
}

.toolbar {
 display: flex;
 flex-direction: row;
 flex-shrink: 0;
 height: 50px;
}

.toolbar button,
.toolbar > span {
 box-sizing: border-box;
 font-size: 24px;
 line-height: 10px;
 min-width: 50px;
 padding: 0 5px;
 text-align: center;
}

.toolbar button:last-child {
 border-right: none;
}

.toolbar input {
 font-size: 24px;
}

.toolbar select {
 font-size: 14px;
 text-align: center;
}

.grow {
 flex-grow: 1;
}

.toolbar input,
.toolbar select {
 box-sizing: border-box;
 flex-grow: 1;
 flex-shrink: 1;
 padding: 0 15px 1px;
 width: 50px;
}

.toolbar input:last-child {
 border-right: none;
}

*:focus {
 outline: none;
}

.loader {
 bottom: -8px;
 left: 0;
 opacity: 0;
 pointer-events: none;
 position: absolute;
 right: 0;
 transition: opacity 0.5s ease;
 width: 100%;
}

main {
 box-sizing: border-box;
 line-height: 1.65;
 min-height: calc(100dvh - 79px - 78px);
}

main > p {
 margin: 0;
 padding: 15px;
}

footer {
 font-size: 12px;
 line-height: 1.65;
 opacity: 0.65;
 padding: 8px 15px;
 transition: opacity 0.5s ease;
}

footer:hover {
 opacity: 1;
}

footer h1 {
 font-size: 16px;
 margin: 0;
 padding: 7px 0;
}

footer > p {
 margin: 0;
 padding: 7px 0;
}

.h-stretch {
 display: inline-block;
 transform-origin: center;
 transform: scaleX(1.25) translateY(-1px);
}

.compose {
 position: relative;
}

.compose textarea {
 box-sizing: border-box;
 height: 78px;
 line-height: 1.65;
 min-height: 140px;
 padding: 11px 75px 11px 15px;
 resize: vertical;
 width: 100%;
}

.compose button.submit {
 border-radius: 7px;
 box-sizing: border-box;
 cursor: pointer;
 height: 48px;
 line-height: 22px;
 opacity: 0.5;
 padding: 4px 0 0;
 position: absolute;
 right: 15px;
 text-align: center;
 top: 15px;
 transition: 0.5s opacity ease;
 width: 48px;
}

.compose:hover button.submit,
.compose textarea:focus + button.submit {
 opacity: 1;
}

article {
 box-sizing: border-box;
 min-height: 45px;
 padding: 3px 150px 3px 15px;
 position: relative;
 transition: opacity 1s ease;
 width: 100%;
}

article blockquote,
article p {
 margin: 8px 0;
}

article blockquote {
 background-color: #80808040;
 border-left: 5px solid #80808080;
 border-radius: 5px;
 padding: 5px 10px;
 white-space: pre-wrap;
}

.message-content > div:first-child {
 padding: 11px 15px;
}

.message-content > article > div:first-child {
 font-size: 18px;
}

.article-tool-buttons {
 display: flex;
 flex-direction: row;
 gap: 2px;
}

.article-tools {
 display: flex;
 flex-direction: column;
 gap: 2px;
 position: absolute;
 right: 15px;
 top: 5px;
}

.article-tools .score,
.message-footer {
 font-size: 14px;
}

.article-tools .score {
 border-radius: 7px;
 box-sizing: border-box;
 display: flex;
 flex-direction: row;
 height: 26px;
 line-height: 22px;
 min-width: 28px;
 padding: 0 7px;
 text-align: center;
 font-size: 16px;
 justify-content: space-evenly;
}

.article-tools .score .velocity {
 font-size: 13px;
}

.article-tool-buttons > button {
 align-items: center;
 display: grid;
 flex-grow: 0;
 flex-shrink: 0;
 justify-content: center;
 width: 50%;
}

.article-tool-buttons > button.agree {
 border-radius: 4px;
 box-sizing: border-box;
 line-height: 22px;
 padding: 2px;
}

.article-tool-buttons > button.disagree {
 border-radius: 4px;
 box-sizing: border-box;
 line-height: 22px;
 padding: 2px;
}

article > div span {
 white-space: pre-wrap;
}

article > div > iframe,
article > div > .image-container {
 cursor: zoom-in;
 height: 50vh;
 min-height: 250px;
 margin-left: -15px;
 margin-top: 14px;
 width: 100vw;
}

article > div > .image-container.expanded {
 cursor: zoom-out;
 height: 100dvh;
 left: 0;
 right: 0;
 margin: 0 !important;
 overflow: hidden;
 padding: 0;
 position: fixed;
 top: 0;
 width: 100dvw;
 z-index: 10000;
}

article > div code {
 border-radius: 4px;
 font-family: 'Noto Sans Mono', monospace;
 font-size: 15px;
 padding: 2px 4px;
 position: relative;
}

a.channel {
 color: inherit;
 display: inline-block;
 text-decoration: none;
 margin: 0 7px 15px;
 padding: 2px 9px;
 position: relative;
 border-radius: 7px;
 white-space: pre;
}

a.channel > span {
 display: inline-block;
 border-radius: 5px;
 padding: 0 3px 1px;
 font-size: 11px;
 position: absolute;
 top: -7px;
 right: -6px;
 opacity: 0.8;
 font-weight: bold;
}

.channel-list {
 padding: 0 7px 7px 7px;
}

.image-container img {
 height: 100%;
 width: 100%;
 object-fit: contain;
 overflow: hidden;
}

.image-container.image-screenshot img {
 object-fit: cover;
 object-position: 50% 0;
}

.image-container.expanded.image-screenshot img {
 object-fit: contain;
 object-position: 50% 50%;
}

article.highlight::after {
 animation: fadeOut 5s ease-out forwards;
 bottom: 0;
 content: '';
 left: 0;
 opacity: 1;
 pointer-events: none;
 position: absolute;
 right: 0;
 top: 0;
}

@keyframes fadeOut {
 0% {
  opacity: 1;
 }
 100% {
  opacity: 0.2;
 }
}

a {
 color: #a0e0f8;
 text-decoration-color: #a0e0f8;
}

button,
input,
select,
textarea {
 background-color: #282828;
}

button:active {
 background-color: #484848;
}

.toolbar:first-of-type {
 border-top: 1px solid #585858;
}

.toolbar {
 background-color: #282828;
 border-bottom: 1px solid #585858;
}

.toolbar button,
.toolbar > span {
 border-right: 1px solid #585858;
}

.toolbar input,
.toolbar select {
 border-right: 1px solid #585858;
}

*::selection {
 background-color: #fff;
 color: #000;
}

*:focus {
 box-shadow: inset 0 0 0 2px #989898;
}

.time-toolbar button,
.time-toolbar select {
 background-color: #383428;
 color: #989058;
}

footer {
 background: linear-gradient(
  to bottom,
  #484848,
  #000
 );
 border-top: 1px solid #585858;
}

.compose textarea {
 background-color: #003800;
 border-bottom: 1px solid #585858;
}

.compose button.submit {
 background-color: #005800;
}

.compose button.submit:hover {
 background-color: #009800;
}

article {
 background-color: #282828;
 border-bottom: 1px solid #585858;
}

.article-tool-buttons > button.agree,
.article-tool-buttons > button.disagree {
 background-color: #585858;
}

.article-tool-buttons > button.agree.agreed {
 background-color: #009800;
}

.article-tool-buttons
 > button.disagree.disagreed {
 background-color: #980000;
}

article > div > .image-container.expanded {
 background-color: #000;
}

article > div code {
 background-color: #000;
}

a.channel {
 box-shadow: inset 2px 2px 4px #ffffff40,
  inset -2px -2px 4px #00000040;
 background-color: #585858;
}

a.channel:hover {
 background-color: #787878;
}

a.channel > span {
 background-color: #383828;
}

article.highlight::after {
 background-color: #ccaa0060;
 border: 1px solid #ca0;
 box-shadow: inset 0 0 10px #ca0;
}

body.light-mode {
 color: #282828;
 background-color: #f8f8f8;
}

body.light-mode a {
 color: #3e7386;
 text-decoration-color: #3e7386;
}

body.light-mode button,
body.light-mode input,
body.light-mode select,
body.light-mode textarea,
body.light-mode .toolbar > span {
 background-color: #efefef;
}

body.light-mode .app-accounts {
 background-color: #f8f8f8;
 border-bottom: 1px solid #c8c8c8;
 box-shadow: inset 0 -13px 0px #c8c8c8;
}

body.light-mode .realm {
 border-right: 1px solid #c8c8c8;
}

body.light-mode .realm:hover {
 background-color: #e0e0b3;
}

body.light-mode .realm.active {
 background-color: #e9e9f1;
}

body.light-mode button:active {
 background-color: #484848;
}

body.light-mode .toolbar:first-of-type {
 border-top: 1px solid #c8c8c8;
}

body.light-mode .toolbar {
 background-color: #282828;
 border-bottom: 1px solid #c8c8c8;
}

body.light-mode .toolbar button,
body.light-mode .toolbar > span {
 border-right: 1px solid #c8c8c8;
}

body.light-mode .toolbar input,
body.light-mode .toolbar select {
 border-right: 1px solid #c8c8c8;
}

body.light-mode *::selection {
 background-color: #000;
 color: #fff;
}

body.light-mode *:focus {
 box-shadow: inset 0 0 0 2px #282828;
}

body.light-mode footer {
 background: linear-gradient(
  to bottom,
  #c8c8c8,
  #efefef
 );
 border-top: 1px solid #c8c8c8;
}

body.light-mode .compose textarea {
 background-color: #d3e9f1;
 border-bottom: 1px solid #c8c8c8;
}

body.light-mode .compose button.submit {
 background-color: #4e954e;
}

body.light-mode .compose button.submit:hover {
 background-color: #41cd41;
}

body.light-mode article {
 background-color: #efefef;
 border-bottom: 1px solid #c8c8c8;
}

body.light-mode
 .article-tool-buttons
 > button.agree,
body.light-mode
 .article-tool-buttons
 > button.disagree {
 background-color: #c8c8c8;
}

body.light-mode
 .article-tool-buttons
 > button.agree.agreed {
 background-color: #00ef00;
}
body.light-mode
 .article-tool-buttons
 > button.disagree.disagreed {
 background-color: #ea0000;
}

body.light-mode
 article
 > div
 > .image-container.expanded {
 background-color: #000;
}

body.light-mode article > div code {
 background-color: #c8c8c8;
}

body.light-mode a.channel {
 box-shadow: inset 2px 2px 4px #ffffff40,
  inset -2px -2px 4px #00000040;
 background-color: #c8c8c8;
 color: inherit;
}

body.light-mode a.channel:hover {
 background-color: #787878;
}

body.light-mode a.channel > span {
 background-color: #efefef;
}

body.light-mode article.highlight::after {
 background-color: #ccaa0060;
 border: 1px solid #ca0;
 box-shadow: inset 0 0 10px #ca0;
}

.message-footer {
 min-height: 23px;
 opacity: 0.65;
 transition: opacity 0.5s ease;
 margin-bottom: 8px;
}

.image-container {
 margin-bottom: 9px;
}

.message-footer a {
 color: inherit;
 text-decoration-color: inherit;
}

.message-footer a:hover {
 color: #a0e0f8;
 text-decoration-color: #a0e0f8;
}

body.light-mode .message-footer a:hover {
 color: #003800;
 text-decoration-color: #003800;
}

article:hover .message-footer {
 opacity: 1;
}

body.on-message .display-on-channel,
body.on-channel .display-on-message {
 display: none;
}

.close {
 height: 24px;
 margin-left: 5px;
 opacity: 0.5;
 position: relative;
 top: -1px;
 width: 24px;
}

.close:hover {
 opacity: 1;
}

.channel-history-shade {
 background-color: #80808080;
 bottom: 0;
 left: 0;
 overflow: hidden;
 position: fixed;
 right: 0;
 top: 158px;
 z-index: 2;
}

.channel-history {
 background-color: #000;
 max-height: calc(100dvh - 62px);
 box-shadow: 0 0 10px #00000080;
 left: 50px;
 overflow-x: hidden;
 overflow-y: scroll;
 padding: 4px 0;
 position: fixed;
 right: 50px;
 top: 158px;
 z-index: 3;
}

body.light-mode .channel-history {
 background-color: #fff;
}

.channel-history a {
 color: #fff;
 display: block;
 font-family: sans-serif;
 font-size: 20px;
 padding: 4px 15px;
 position: relative;
 text-decoration: none;
 white-space: pre-wrap;
}

.channel-history a:hover {
 background-color: #fff;
 color: #000;
}

body.light-mode .channel-history a {
 color: #000;
}

body.light-mode .channel-history a:hover {
 background-color: #000;
 color: #fff;
}

.channel-history a span.remove {
 filter: grayscale(1);
 position: absolute;
 right: 15px;
 top: 4px;
}

.channel-history a.small {
 font-size: 16px;
}

body.light-mode .channel-history a span.score {
 background-color: #efefef;
}

.channel-history a span.score {
 background-color: #383828;
 border-radius: 5px;
 color: inherit;
 display: inline-block;
 font-size: 11px;
 font-weight: bold;
 opacity: 0.8;
 padding: 0 3px 1px;
 position: absolute;
 right: 15px;
 top: 7px;
}

.channel-history a:hover span.score {
 background-color: #c8c8c8;
}

body.light-mode
 .channel-history
 a:hover
 span.score {
 background-color: #585858;
}

article > div code.formula {
 background-color: #583800;
}

body.light-mode article > div code.formula {
 background-color: #c8b880;
}

.formula-error {
 box-shadow: inset 0 0 2px red;
}

.formula-pending:after {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: linear-gradient(
  -90deg,
  #eecda3,
  #ef629f,
  #ebc7e6,
  #ee9ca7,
  #efcdb3,
  #e5b8f4,
  #cef9c2,
  #efcef5
 );
 background-size: 200%;
 filter: blur(10px);
 animation: glow 5s linear infinite;
}

@keyframes glow {
 0% {
  background-position: 0 0;
 }
 50% {
  background-position: 400% 0;
 }
 50.001% {
  background-position: -400% 0;
 }
 100% {
  background-position: 0 0;
 }
}

.icon {
 background-color: #fff;
 background-size: 100%;
 display: inline-block;
 height: 32px;
 width: 32px;
}

.icon.icon-sm {
 height: 24px;
 width: 24px;
}

body.light-mode .icon {
 background-color: #282828;
}

.icon-globe {
 mask-image: url(./icons/globe.svg);
}

.icon-home {
 mask-image: url(./icons/home.svg);
}

.icon-hut {
 mask-image: url(./icons/hut.svg);
}

.icon-in {
 mask-image: url(./icons/in.svg);
}

.icon-news {
 mask-image: url(./icons/out.svg);
 transform: scaleY(-0.25);
}

.icon-no {
 mask-image: url(./icons/no.svg);
}

body:fullscreen .icon-in {
 mask-image: url(./icons/out.svg);
}

.icon-plane {
 mask-image: url(./icons/plane.svg);
}

.icon-sun {
 mask-image: url(./icons/sun.svg);
}

.icon-yes {
 mask-image: url(./icons/yes.svg);
}

.icon.icon-close,
body.light-mode .icon.icon-close {
 background-color: transparent;
 position: relative;
}

.icon.icon-close::before,
.icon.icon-close::after {
 background-color: currentColor;
 border-radius: 2px;
 content: '';
 display: block;
 height: 75%;
 left: 11px;
 position: absolute;
 top: 2px;
 width: 2px;
}

.icon.icon-close::before {
 transform: rotate(45deg);
}

.icon.icon-close::after {
 transform: rotate(-45deg);
}

.icon.icon-plus,
body.light-mode .icon.icon-plus {
 background-color: transparent;
 position: relative;
}

.icon.icon-plus::before,
.icon.icon-plus::after {
 background-color: currentColor;
 border-radius: 2px;
 content: '';
 display: block;
 height: 65%;
 left: 11px;
 position: absolute;
 top: 2px;
 width: 2px;
}

.icon.icon-plus::after {
 transform: rotate(90deg);
}

.toolbar span.brand {
 line-height: 44px;
 padding: 0 10px;
 text-align: left;
}

.activity-container {
 background-color: #202020;
 box-shadow: 0 0 20px #000;
 height: 0;
 left: 0;
 opacity: 0;
 overflow-x: hidden;
 overflow-y: scroll;
 position: fixed;
 right: 1px;
 top: 160px;
 transition: opacity 0.5s ease;
 z-index: 2;
}

body.light-mode .activity-container {
 background-color: #efefef;
 box-shadow: 0 0 20px #707070;
}

.activity-container.visible {
 height: calc(100dvh - 160px);
 opacity: 1;
}
